@model ESchool.Models.Quiz;

@{
    ViewData["Title"] = "Add quiz";
}

@using (Html.BeginForm())
{
    <table class="table table-bordered table-hover">
        <tr><td>Quiz name</td><td>@Html.EditorFor(e => e.Name)</td></tr>
    </table>

    <partial name="_QuestionFormPartial"></partial>
    <input type="submit" class="btn btn-success" value="Apply"/>

}
