@model ESchool.Models.Quiz
@{
    ViewData["Title"] = "Quiz" + Model.Name;
}


<h1>@Model.Name</h1>

@if (Model.Questions != null && Model.Questions.Any()) {

    <table class="table table-bordered table-hover">
    @foreach(var question in Model.Questions) {
        <tr>
            <td>@question.QuestionContent</td>
        </tr>
    }
    </table>
} else {
    <p>There aren't any questions yet!</p>
}


@Html.ActionLink("Add question", "Add", "Questions", new {id = Model.Id}, new {@class = "btn btn-primary"})