@model ESchool.Models.Quiz
@{
    ViewData["Title"] = "Quiz" + Model.Name;
}


<h1>Quiz @Model.Name</h1>

@if (Model.Questions != null) {
@foreach(var question in Model.Questions) {
    <p>@question.QuestionContent</p>
}
}
