@model IEnumerable<ESchool.Models.Quiz>
@{
    ViewData["Title"] = "Your quizes";
}

@if (Model.Any()) {
<h1>Your quizzes:</h1>
} else {
<h1>You haven't created any quiz yet.</h1>
}
@foreach(var quiz in Model) {
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        @Html.ActionLink(quiz.Name, "Details", "Quiz", new {id = quiz.Id})
    </li>
</ul>
}