@model IEnumerable<Tuple<Participant, Quiz>>
@{
    ViewData["Title"] = "Your scores";
}
@if (Model.Any()) {
<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Start</th>
      <th scope="col">Finish</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var tuple in Model.OrderBy(m => m.Item2.Start)) 
    {
        <tr>
            <td>
                @Html.ActionLink(tuple.Item2.Name, "Score", "Quiz", new {id = tuple.Item1.Id})
            </td>
            <td>
                @tuple.Item2.Start
            </td>
            <td>
                @tuple.Item2.Finish
            </td>
        </tr>
    }
    </tbody>
</table>
} else {
    <h1>You haven't been participating in any quizzes yet.</h1>
}