@model IEnumerable<Tuple<Participant, Quiz>>
@{
    ViewData["Title"] = "Your scores";
}

<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Start</th>
      <th scope="col">Finish</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var tuple in Model) 
    {
        <tr>
            <td>
                @Html.ActionLink(tuple.Item2.Name, "Score", "Quiz", new {id = tuple.Item1.Id})
            </td>
            <td>
                @tuple.Item2.Start
            </td>
            <td>
                @tuple.Item2.Finish
            </td>
        </tr>
    }
    </tbody>
</table>